@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
@import url(./header.css);
@import url(./sidebar.css);
@import url(./footer.css);

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p, b, h2, h3, h4, a, span, pre, label, input, select, textarea{
    font-family: 'Roboto';
    color: #373867;
}

button{
    border-color: #373867;
    color: #373867;
    background-color: #00000000;
    border-width: 0px 0px 3px 0px;
    width: 75px;
    height: 38px;
    border-radius: 5px;
    border-width: 1px;
    font-weight: 700;
    font-size: 15px;
}

.fields.flex-container select, 
.fields.flex-container input{
    border-color: #373867;
    border-width: 1px;
    border-radius: 5px;
}

.fields.flex-container input{
    width: 90%;
    height: 30px;
}

@media only screen and (max-width: 480px)
{
    main{
        height: 60%;
        align-self: center;
        margin: 0px 0px 0px 14%
    }

    main section.flex-container{
        width: 77%;
        height: 80%;
        align-self: center;
        justify-content: center;
        justify-items: center;
        border-style: solid;
        border-radius: 2%;
        border-color: black;
        border-width: 5px;
        gap: 15px;
    }

    main section.flex-container h2{
        font-weight: 1000;
        font-size: 35px;
        align-self: center;
        text-align: center;
    }

    .input-zone.flex-container{
        /* flex-direction: row; */
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 77%;
    }

    .fields.flex-container{
        width: 95%;
        height: 90%;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }

    .field-holder.flex-container{
        width: 85%;
    }

    .field-holder.flex-container label{
        font-weight: bold;
        font-size: 14px;
    }

    .buttons.flex-container{
        width: 45%;
        height: 90%;
        justify-content: space-around;
        align-items: center;
    }

    #login{
        border: none;
        background-color: #aace9b;
        width: 72%;
        height: 44px;
    }

    #forgot-pass{
        width: 72%;
        height: 34px;
        font-size: 10px;
    }
}

@media only screen and (min-width:481px)
{
    main{
        align-self: center;
        height: 53%;
        margin: 0px 0px 0px 14%
    }

    main section.flex-container{
        width: 80%;
        height: 85%;
        align-self: center;
        justify-content: center;
        justify-items: center;
        border-style: solid;
        border-radius: 2%;
        border-color: black;
        border-width: 5px;
        margin: 25% 0px 0px 0px;
    }

    main section.flex-container h2{
        font-weight: 1000;
        font-size: 35px;
        margin: 0px 0px 0px 5%
    }

    .input-zone.flex-container{
        flex-direction: row;
        width: 100;
        height: 77%;
    }

    .fields.flex-container{
        width: 45%;
        height: 90%;
        justify-content: space-around;
    }

    .field-holder.flex-container label{
        font-weight: bold;
        font-size: 14px;
    }

    .buttons.flex-container{
        width: 45%;
        height: 90%;
        justify-content: space-around;
        align-items: center;
    }

    #login{
        border: none;
        background-color: #aace9b;
        width: 72%;
        height: 44px;
    }

    #forgot-pass{
        width: 72%;
        height: 34px;
        font-size: 10px;
    }
}

@media only screen and (min-width: 769px){
    
    main{
        align-self: center;
        height: 65%;
        margin: 0px 0px 0px 14%
    }

    main section.flex-container{
        width: 75%;
        height: 85%;
        margin: 12% 0px 0px 11%;
        justify-content: center;
        justify-items: center;
        border-style: solid;
        border-radius: 2%;
        border-color: black;
        border-width: 5px;
    }

    main section.flex-container h2{
        font-weight: 1000;
        font-size: 35px;
        margin: 0px 0px 0px 5%
    }

    .input-zone.flex-container{
        flex-direction: row;
        width: 100;
        height: 77%;
    }

    .fields.flex-container{
        width: 45%;
        height: 90%;
        gap: 7%
    }

    .field-holder.flex-container{
        gap: 5px;
    }

    .field-holder.flex-container label{
        font-weight: bold;
        font-size: 14px;
    }

    .buttons.flex-container{
        width: 45%;
        height: 90%;
        align-items: center;
        gap: 7%;
    }

    #login{
        border: none;
        background-color: #aace9b;
        width: 65%;
        height: 50px;
    }

    #forgot-pass{
        width: 50%;
        height: 34px;
        font-size: 10px;
    }
}