<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type= "text/css" href="../styles/styles-login.css">
</head>
<body>
    <header class="flex-container">
        <img id="rrlogo" src="../assets/icons/trackgenix-logo.png" alt="">
        <h1>Trackgenix SA</h1>
        <img id="hb-menu" src="../assets/icons/hamburger-menu-icon.png" alt="">
    </header>
    <aside class="flex-container">
        <p>Menu</p>
        <nav>
            <article class="first-aside-article flex-contaner">
                <ul class="first-aside-ul flex-container">
                    <li class="li-of-sidebar flex-container">
                        <a href="../views/index.html">Home</a>
                    </li>
                    <li class="li-of-sidebar flex-container">
                        <a href="../views/sign-up.html">Sign Up</a>
                    </li>
                    <li class="li-of-sidebar flex-container">
                        <a href="../views/login.html">Log In</a>
                    </li>
                </ul>
            </article>
            <article class="second-aside-article flex-container">
                <p>Contact Us</p>
                <ul class="second-aside-ul flex-container">
                    <li class="sidebar-icons flex-container">
                        <img src="../assets/icons/mail-icon.PNG">
                        <a href="#">contact@trackgenix.com</a>  
                    </li>
                    <li class="sidebar-icons flex-container">
                        <img src="../assets/icons/phone-icon.PNG">
                        <a href="#">(000)000-0000</a>
                    </li>
                    <li class="adress-nav flex-container">
                        <img src="../assets/icons/home-icon.PNG">
                        <a href="#">
                            Somewhere Road
                            <p></p>
                            #8254
                            <p></p>
                            Nashville, TN
                            <p></p>
                            00000-0000
                        </a>
                    </li>
                </ul>
            </article>
        </nav>
    </aside>
    <main>
        <section class="form-section flex-container">
            <h2>Log In</h2>
            <div class="input-zone flex-container">
                <div class="fields flex-container">
                    <div class="field-holder flex-container">
                        <label for="eMail">Email Adress</label>
                        <input id="eMail" type="text" name="eMail" placeholder="  email@trackgenix.com">
                    </div>
                    <div class="field-holder flex-container">
                        <label for="password">Password</label>
                        <input id="password" type="text" name="password" placeholder="  *******">
                    </div>
                </div>
                <div class="buttons flex-container">
                    <button id="login">Log In</button>
                    <button id="forgot-pass">Forgot password?</button>
                </div>
            </div>
        </section>
    </main>
    <footer class="flex-container">
        <section class="flex-container">
            <img src="../assets/icons/linkedin-logo.png" alt="">
            <img src="../assets/icons/twitter-logo.png" alt="">
            <img src="../assets/icons/fb-logo.png" alt="">
            <img src="../assets/icons/instagram-logo.png" alt="">
            <img src="../assets/icons/github-logo.png" alt="">
        </section>
        <div class="flex-container">
            <p>Rosario, Argentina</p>
            <p>Copyright 2022 Radium Rocket.</p>
            <p>All rights reserved</p>
        </div>
    </footer>
</body>
<script type="text/javascript" src="../javascript/login.js"></script>
</html>