header{
    background-color: #373867;
    left: 1200;
    width: 1440px;
    height: 77px;
    float: left;
}

h1{
    font-style: bold;
    font-size: 40px;
    padding: 0%;
    margin-top: 21.39px;
    margin-left: 147.71px;
    font-family: 'roboto';
    float: left;
}

#rrlogo{
    width: 77.79px;
    height: 55px;
    float: left;
}

aside{
    position: fixed;
    width: 22%;
}

main{
    position: relative;
    left: 400;
}