
p, b, h2, h3, h4, a, span, pre, label, input, select, textarea{
    font-family: 'Roboto';
    color: #373867;
}

h2{
    width: fit-content;
    font-weight: bold;
    padding: 0px 30px 15px 0px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #aace9b;
    align-self: flex-start;
}

main > *{
    min-height: 16.66%;
}

section.flex-container{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    border-style: solid;
    border-color: #aace9b;
}

button{
    border-color: #373867;
    color: #373867;
    background-color: rgba(0, 0, 0, 0);
}

section > h2{
    font-family: 'Roboto';
    font-weight: bold;
    color: #373867;
    font-size: 25px;
}

section > span{
    font-family: 'Roboto';
    font-size: 16px;
}

section > div > p{
    font-family: 'Roboto';
    font-size: 14px;
}

ol.flex-container > li{
    flex-direction: row;
    justify-content: space-around;
}

/* CLASSES */

.text-of-infoblock{
    text-align: center;
}

.text-of-infoblock > h3{
    font-family: 'Roboto';
    font-weight: bold;
    color: #373867;
}

.text-of-infoblock-section.flex-container{
    justify-content: space-evenly;
    align-items: center;
}

.text-of-infoblock.flex-container{
    flex-direction: inherit;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.work-improv-art.flex-container{
    background-color: rgba( 55, 56, 103, .10);
}

.work-improv-art.flex-container > h3{
    font-weight: bold;
}

.form-element.flex-container label{
    color: #373867;
    font-weight: bold;
}

.form-element.flex-container select, 
.form-element.flex-container input, 
.form-element-big.flex-container textarea{
    border-color: #373867;
}

.form-element-big.flex-container > label{
    font-weight: bold;
}

.form-end-element.flex-container{
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
}

.bottom-nav.flex-container{
    justify-content: space-between;
}

.bottom-nav-div.flex-container > ol > li > a{
    text-decoration: none;
}

/* ID's */

#first-section > h2{
    border: none;
}

#first-section .flex-container{
    flex-direction: column;
}


/* MOBILE */

@media only screen and (max-width: 480px){
    
    main.flex-container{
        flex-direction: column;
        justify-content: space-around;
        gap: 60px 90px;
    }

    section.flex-container{
        gap: 25px;
        border-color: #afafc2;
        border-style: solid;
        border-width: 0px 0px 3px 0px;
    }

    button{
        border-width: 0px 0px 3px 0px;
        width: 75px;
        height: 38px;
        border-radius: 5px;
        border-width: 1px;
        font-weight: 700;
        font-size: 15px;
    }

    form.flex-container{
        width: 100%;
        gap: 15px;
    }

    /* CLASSES */
    .info-block.flex-container{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 309px;
        width: 95%;
    }

    .text-of-infoblock h3{
        font-size: 20px;
    }

    .img-of-infoblock{
        height: 140px;
        width: 140px;
    }

    .work-improv-art.flex-container{ 
        justify-content: space-around;
        padding: 20px;
        gap: 15px ;
    }

    .work-improv-art.flex-container > img{
        border-radius: 5%;
        width: 100%;
        height: 280px;
    }

    .work-improv-art.flex-container > h3{
        font-size: 16px;
    }

    .work-improvement-textbox.flex-container{
        align-items: center;
        font-size: 14px;
    }
        
    .form-element.flex-container select, 
    .form-element.flex-container input, 
    .form-element-big.flex-container textarea{
        border-width: 1px;
        border-radius: 5px;
    }
    
    .form-element.flex-container select{
        width: 92%;
        height: 30px;
    }
    
    .form-element.flex-container input{
        width: 90%;
        height: 30px;
    }
    
    .form-element-big.flex-container{
        gap: 10px;
        width: 100%;
    }

    .form-element-big.flex-container > textarea{
        width: 95%;
    }

    .form-end-div.flex-container{
        gap: 20px;
    }

    .half-form.flex-container{
        justify-content: space-around;
        gap: 10px;
    }
    
    .form-element.flex-container{
        gap: 2px;
    }

    .story-text.flex-container{
        font-weight: 500;
    }

    .bottom-nav.flex-container{
        gap: 10px;
    }

    .bottom-nav-div.flex-container > b{
        font-size: 15px;
    }
    
    .bottom-nav-div.flex-container > ol >li{
        margin: 0px 0px 0px 10px;
    }

    .bottom-nav-div.flex-container > ol > li > a{
        text-decoration: none;
        font-size: 14px;
    }

    /* ID'S */

    #first-section > h2{
        font-size: 30px;
    }

    #first-section img{
        align-self: center;
        width: 97%;
    }

    #first-section > div.flex-container{
        margin: 13px 0px 0px 0px;
        gap: 15px;
    }

    #first-section > div.flex-container p{
        font-weight: 500;
    }
    
    #first-section button{
        width: 40%;
        height: 52px;
        padding: 0px;
        align-self: baseline;
    }
    
    #work-improvement-articles-section{
        justify-content: space-around;
        gap: 20px 10px;
    }

    #priority.flex-container{
        flex-direction: row;
        justify-content: space-between;
    }
    
    #priority.flex-container > li.flex-container > input{
        width: auto;
        height: auto;
    }
    
    #bottom-nav-section.flex-container{
        padding: 0px 0px 90px 0px;
        border-width: 0px 0px 8px 0px;
        border-radius: 7px;
    }
}

/* TABLET */

@media only screen and (min-width:480px) and (max-width: 768px){
    main.flex-container{
        flex-direction: column;
        justify-content: space-around;
        gap: 60px 90px;
    }
    
    section.flex-container{
        border-color: #afafc2;
        border-style: solid;
        border-width: 0px 0px 3px 0px;
        width: 95%;
        padding: 0px 0px 30px 0px;
    }

    button{
        border-width: 0px 0px 3px 0px;
        width: 75px;
        height: 38px;
        border-radius: 5px;
        border-width: 1px;
        font-weight: 700;
        font-size: 15px;
    }

    form.flex-container{
        width: 100%;
        gap: 25px 0px ;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* CLASSES */
    .info-block.flex-container{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 25%;
        width: 95%;
        gap: 20px;
    }

    .text-of-infoblock.flex-container{
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 20px;
    }

    .text-of-infoblock h3{
        font-size: 25px;
    }

    .img-of-infoblock{
        height: 140px;
        width: 140px;
    }

    .work-improv-art.flex-container{ 
        justify-content: space-around;
        padding: 20px;
        width: 40%;
        gap: 15px ;
    }

    .work-improv-art.flex-container > img{
        border-radius: 5%;
        width: 100%;
        height: 280px;
    }

    .work-improv-art.flex-container > h3{
        font-size: 27px;
        font-weight: bold;
    }

    .work-improvement-textbox.flex-container{
        align-items: center;
        font-size: 14px;
    }
    
    .form-element.flex-container{
        gap: 5px;
        width: 100%;
    }
        
    .form-element.flex-container select, 
    .form-element.flex-container input, 
    .form-element-big.flex-container textarea{
        border-width: 1px;
        border-radius: 5px;
    }
    
    .form-element.flex-container select{
        width: 92%;
        height: 30px;
    }
    
    .form-element.flex-container input{
        width: 90%;
        height: 30px;
    }
    
    .form-element-big.flex-container{
        align-self: flex-end;
        gap: 10px;
        width: 100%;
    }

    .form-element-big.flex-container > textarea{
        width: 95%;
    }

    .form-end-div.flex-container{
        gap: 30px;
        align-self: flex-end;
    }

    .half-form.flex-container{
        width: 50%;
        justify-content: space-around;
        gap: 10px;
    }

    .form-end-element.flex-container{
        gap: 30px;
    }

    .form-end-element.flex-container button{
        width: 50%;
        height: 45px;
    }

    .story-text.flex-container > p{
        font-weight: 500;
        text-align: justify;
        font-size: 16px;
    }

    .bottom-nav.flex-container{
        gap: 80px;
        flex-direction: row;
    }

    .bottom-nav-div.flex-container > b{
        font-size: 16px;
    }
    
    .bottom-nav-div.flex-container > ol >li{
        margin: 0px 0px 0px 10px;
    }

    .bottom-nav-div.flex-container > ol > li > a{
        text-decoration: none;
        font-size: 15px;
    }

    /* ID'S */

    #first-section.flex-container{
        align-items: flex-start;
    }

    #first-section > h2{
        font-size: 38px;
    }

    #first-section img{
        align-self: center;
        width: 100%;
    }

    #first-section > div.flex-container{
        margin: 13px 0px 0px 0px;
        gap: 15px;
    }

    #first-section > span{
        padding: 0px 0px 30px 0px;
        font-size: 20px;
    }

    #first-section > div.flex-container p{
        font-weight: 500;
        font-size: 15px;
    }
    
    #first-section button{
        width: 18%;
        padding: 10px 0px 12px 0px;
        align-self: baseline;
    }
    
    #info-block-section.flex-container{
        gap: 20px;
        justify-content: space-around;
    }

    #work-improvement-articles-section.flex-container{
        flex-direction: row;
        gap: 40px 0px;
        justify-content: space-between;
        align-items: flex-start;
    }

    #work-improvement-articles-section.flex-container h2{
        align-self: left;
    }

    #get-in-touch.flex-container{
        height: 20%;
        flex-wrap: wrap;
        gap: 25px;
    }

    #priority.flex-container{
        flex-direction: row;
        justify-content: space-between;
        width: 93%;
    }
    
    #priority.flex-container > li.flex-container > input{
        width: auto;
        height: auto;
    }

    #our-story.flex-container{
        justify-content: start;
        align-items: flex-start;
        gap: 36px;
    }
    
    #bottom-nav-section.flex-container{
        padding: 0px 0px 90px 0px;
        border-width: 0px 0px 8px 0px;
        border-radius: 7px;
    }
}

@media only screen and (max-width: 900px){

}